body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 12px;
}

.pokemon-img {
  width: 150px;
  transition: transform 0.3s ease;
}

.pokemon-img:hover {
  transform: scale(1.5);
}